* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #222;
  font-size: $font-size-base;
  font-family: Open Sans,sans-serif !important;
  background-color: $bg !important
}

h2 {
  font-size: 24px
}

label {
  margin-top: 0;

}

input[type=text] {
  margin-bottom: 14px;
}

input[type=radio],  
input[type=checkbox] {
    display: none;
 }

input[type=radio] + label::before {
  border-radius: 50%; }
 
input[type=radio] + label,
input[type=checkbox] + label  {
    vertical-align: middle;
    position: relative}
  
input[type=radio]:hover + label::before,
input[type=checkbox]:hover + label::before  {
    background: #ddd; }
  
input[type=radio] + label::before,
input[type=checkbox] + label::before  {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0px 8px;
    vertical-align: middle;
    background: #f2f2f2
    
  }


input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before  {
  content: '';
  text-align: center;
  background: #2ecc71;
  color: #fff;
  font-size: 18px}

input[type=checkbox]:checked + label::before  {
    content: '\2713'}
  
input[type=radio]:checked + label::before  {
    background: #fff;
    border: 2px solid #2ecc71
  }

input[type=radio]:checked + label::after  {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 13px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #2ecc71
  }

.btn {
  padding: 0 25px;
  line-height: 50px;
}

.btn-link {
  color: #2ecc71;
  background: none;
  border: none;
  &:hover {
    color: lighten($color: (#2ecc71), $amount: 4%);
    text-decoration: underline;
  }
}

.btn-primary {
  background: #2ecc71;
  border: 0;
  &:hover {
    background: lighten($color: (#2ecc71), $amount: 4%);
  }
}

.btn-plus {
  margin: 10px 20px;
   height: 40px;
   width: 40px;
   padding: 0;
   cursor: pointer;
   color: #000;
   border: 1px solid #AEAEAE;
   border-radius: 30px;
   font-size: 12px;
   font-weight: bold;
   line-height: 0px;
 }

.row {
    margin: 0
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

h2 {
  margin: 10px 0 10px 0;
}
h3 {
  font-size: 15px;
}
hr {
  border: solid 1px #d1d4e1;
}

ul, li {
  list-style: none;
  padding: 0
}

.wrapper {
  margin-top: 70px;
}


.content {
  // background: $white;
  height: 100%;
}

.content-white {
  background: $white;
  min-height: 100vh;
}

.main {
  padding: 30px 15px;
  min-height: 100vh;
  width: calc(100% - 10rem);
  @include respond-to(handheld) {
    width: 100%;
    }
}

.content-wrapper {
  background: #f3f3fc;
  flex-direction: column !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width: 100%;
  padding: 0em 0 0 1em;
}

.wrapper {
  display: flex;
}

.openModal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  padding: 24px;
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  outline: transparent;
  z-index: 1000;
}

.openModal__body {
  text-align: center;
}

.overlay {
  background: none;
  position: relative
}

.overlay-active {
  position: fixed; 
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5); 
  z-index: 999;
  transition: background .5s;
  cursor: pointer;
}

.invoice__data {
  border-right: 1px solid #eee;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}